.col-12 {
  padding: 10px;
}

.container-fluid {
  padding: 0;
}

#search-form {
  display: none;
}
.col-6{
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.work-header{
  padding: 80px;
  padding-bottom: 30px;
}
.mask{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}
.text-white{
  padding-bottom: 10%;
}
.form{
  padding-top: 60px;
}
.profile img{
    width: 200px;
    height: 200px;
}
.Copyright{
  color: black;
}
.bg-image{
 
  background-image: url('https://www.salleurl.edu/sites/default/files/content/nodes/Estudio/image/4391/5540/programacion_web_online_la_salle.jpg');
  height: 450px;
 
  background-repeat: no-repeat;
  background-size:auto 100% ;
}

.card {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.card:hover, .card:focus {
  background-size: 100% 2px;
}

.card .card-text {
  color: #252829;
}

.card:hover {
  color: #0c8faf;
}

.input-group {
  position: relative;
}

.input-group .input-group-addon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  left: 0px;
  z-index: 1;
}

.input-group .form-control {
  padding-right: 30px;
}
.nav-item{
  background-color: white;
  height: 38px;
}
form{
  background-color: white;
}

.navbar-brand{
  background-color: white !important;
  
}
.hidden-spacer {
  height: 76px
}
.header .navbar .nav-link {
  color: #fff !important;
}

.services {
  padding-top: 50px;
}

.services svg {
  width: 80px;
  height: 80px;
}

.features-2{
  padding-top: 5%;
  padding-bottom: 2%;
}
.feature-header{
  padding-bottom: 20px;
}
.features-content{
  padding: 15px;
}
.features-content h3{
  font-family: "Source Sans Pro";
  font-size: 18px;
}
.features-content p{
  font-family: "Source Sans Pro";
  font-size: 16px;

}
.features {
  padding-top: 30px;
  padding-left: 30px;
}

.features svg {
  width: 40px;
  height: 40px;
}
.features-custom-circle-image {
  width: 100px;
  height: 100px;
}
.custom-circle-image {
  width: 168px;
  height: 168px;
}

.custom-circle-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.img:hover{
  background-color:blue;

}

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #222 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #eee !important;
}
[data-theme="dark"] .card {
  background-color:transparent !important;
}
[data-theme="dark"] .card-text {
  color:white !important;
}
[data-theme="dark"] a {
  color: #fff !important;
}
[data-theme="dark"] .navbar-brand {
  color: black !important;
}
[data-theme="dark"] .hidden-spacer {
  background-color: #111 !important;
}

[data-theme="dark"] .form {
  background-color: #111 !important;
}
[data-theme="dark"] .nav-link{
  color: #111 !important;
}
[data-theme="dark"] .dk {
  -webkit-filter: invert(1) hue-rotate(180deg) ;
	filter: invert(1) hue-rotate(180deg);
}
[data-theme="dark"] .features-content {
  color:white !important;
}
[data-theme="dark"] footer div p{
  color:black !important;
}
.ms-n5 {
  margin-left: -40px;
}

.container-fluid {
  position: relative;
  z-index: 3;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid .navbar-header .navbar-brand {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  text-shadow: none;
}

.container-fluid .navbar-header .navbar-brand img {
  position: relative;
  top: -2px;
  margin-right: 4px;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.container-fluid .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.container-fluid .navbar-nav .nav-item .nav-link:hover, .container-fluid .navbar-nav .nav-item .nav-link:focus {
  background-size: 100% 2px;
}

.container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: #2ab6da;
}



